extends layout.pug

block content
  h1 Welcome to My Node.js Portfolio
  br
  p Express Myself
  p I'm Yoshi, an international student from Japan.
  p I like computer science, but still not good at coding. I am practicing.
